<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 수정</title>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet"/>
    <style>
        #voteForm {
            display: none; /* 기본적으로 숨김 */
        }
        .poll-item {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<form th:action="@{/board/update/{id}(id=${board.id})}" method="post">
    <label for="boardTitle">게시판 제목:</label>
    <input type="text" id="boardTitle" th:value="${board.boardTitle}" placeholder="투표 제목을 입력하세요">
    <input type="hidden" id="boardId" th:value="${board.id}">
    <div>
        <label for="category">Category:</label>
        <select id="category" name="category">
            <option th:each="category : ${T(com.univ.rankingplanet.board.BoardCategory).values()}"
                    th:value="${category.displayName}"
                    th:text="${category.displayName}"
                    th:selected="${board.category == category.displayName}"></option>
        </select>
    </div>

    <div id="editor"></div>
    <input type="hidden" id="quill_html" name="boardContent" th:value="${board.boardContent}">

    <input type="checkbox" id="voteFlag" th:checked="${board.voteFlag}">
    <label for="voteFlag">투표 추가하기</label>
    <input type="hidden" id="voteFlagHidden" name="voteFlagHidden" th:value="${board.voteFlag}">

    <!-- 투표 생성 양식 -->
    <div id="voteForm">
        <label for="voteTitle">투표 제목:</label>
        <input type="text" id="voteTitle" th:value="${board.voteTitle}" placeholder="투표 제목을 입력하세요">
        <div>
            <label for="voteEnd">투표 마감 날짜 (yyyy-MM-ddTHH:mm:ss):</label>
            <input type="datetime-local" id="voteEnd" name="voteEnd" th:value="${voteEnd}" required/>
        </div>
        <div id="voteItems" th:each="vote : ${voteList}">
            <div class="poll-item">
                <input type="hidden" class="poll-voteId" th:value="${vote.id}">
                <input type="file" class="poll-image" th:src="${vote.imagePath}">
                <input type="text" class="poll-text" th:value="${vote.text}" placeholder="투표 항목을 입력하세요">
                <button type="button" onclick="removeVoteItem(this)">삭제</button>
            </div>
        </div>
        <button type="button" onclick="addVoteItem()">항목 추가</button>
    </div>

    <button type="button" id="updateContentsButton">게시글 수정하기</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script>
    var quill;
    function quilljsediterInit() {
        var option = {
            modules: {
                toolbar: [
                    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                    ['link', 'image', 'video', 'formula'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'list': 'check' }],
                    [{ 'indent': '-1'}, { 'indent': '+1' }],
                    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    [{ 'color': [] }, { 'background': [] }],
                    [{ 'align': [] }],
                    ['clean']
                ]
            },
            placeholder: '자세한 내용을 입력해 주세요!',
            theme: 'snow'
        };

        quill = new Quill('#editor', option);
        var boardContent = document.getElementById("quill_html").value;
        quill.root.innerHTML = boardContent;
        quill.on('text-change', function() {
            document.getElementById("quill_html").value = quill.root.innerHTML;
        });

        quill.getModule('toolbar').addHandler('image', function () {
            selectLocalImage();
        });
    }

    function selectLocalImage() {
        const fileInput = document.createElement('input');
        fileInput.setAttribute('type', 'file');
        fileInput.click();
        fileInput.addEventListener("change", function () {
            const formData = new FormData();
            const file = fileInput.files[0];
            formData.append('uploadFile', file);

            $.ajax({
                type: 'post',
                enctype: 'multipart/form-data',
                url: '/uploadTest',
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: function (data) {
                    const range = quill.getSelection();
                    data.uploadPath = data.uploadPath.replace(/\\/g, '/');
                    quill.insertEmbed(range.index, 'image', "/board/display?fileName=" + data.uploadPath + "/" + data.fileName);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
    }

    quilljsediterInit();

    function addVoteItem() {
        var voteItems = document.getElementById("voteItems");

        var itemDiv = document.createElement("div");
        itemDiv.classList.add("poll-item");

        var imageInput = document.createElement("input");
        imageInput.type = "file";
        imageInput.accept = "image/*";
        imageInput.classList.add("poll-image");
        itemDiv.appendChild(imageInput);

        var textInput = document.createElement("input");
        textInput.type = "text";
        textInput.placeholder = "투표 항목을 입력하세요";
        textInput.classList.add("poll-text");
        itemDiv.appendChild(textInput);

        var deleteButton = document.createElement("button");
        deleteButton.type = "button";
        deleteButton.textContent = "삭제";
        deleteButton.onclick = function() {
            voteItems.removeChild(itemDiv);
        };
        itemDiv.appendChild(deleteButton);

        voteItems.appendChild(itemDiv);
    }

    function removeVoteItem(button) {
        var voteItems = document.getElementById("voteItems");
        voteItems.removeChild(button.parentNode);
    }

    document.getElementById("voteFlag").addEventListener("change", function() {
        var voteFlagHidden = document.getElementById("voteFlagHidden");
        voteFlagHidden.value = this.checked;
        if(voteFlagHidden.value === 'true'){
            document.getElementById("voteForm").style.display = "block";
        }else{
            document.getElementById("voteForm").style.display = "none";
        }
    });

    function sendBoardAndVotes() {
        var tempDiv = document.createElement('div');
        tempDiv.innerHTML = quill.root.innerHTML;
        var images = tempDiv.getElementsByTagName('img');
        for (var i = 0; i < images.length; i++) {
            images[i].style.width = '300px';
            images[i].style.height = '300px';
        }
        var updatedHtmlString = tempDiv.innerHTML;
        var selectElement = document.getElementById("category");
        var datetimeLocalValue = document.getElementById("voteEnd").value;
        var isoDateTime = new Date(datetimeLocalValue).toISOString();
        var boardData = {
            boardTitle: document.getElementById("boardTitle").value,
            boardContent: updatedHtmlString,
            voteFlag: document.getElementById("voteFlagHidden").value,
            category: selectElement.options[selectElement.selectedIndex].value,
            voteEnd: isoDateTime,
            voteTitle: document.getElementById("voteTitle").value
        };

        $.ajax({
            type: 'post',
            url: '/board/update/' + document.getElementById("boardId").value,
            contentType: 'application/json',
            data: JSON.stringify(boardData),
            success: function(boardId) {
                if (boardData.voteFlag === 'true') {
                    sendVoteItemsToServer(boardId);
                } else {
                    window.location.href = '/board/detail/' + boardId;
                }
            },
            error: function(xhr, status, error) {
                console.error("게시판 수정 중 오류가 발생했습니다.");
            }
        });
    }

    function sendVoteItemsToServer(boardId) {
        var formData = new FormData();
        var voteItems = document.querySelectorAll(".poll-item");

        voteItems.forEach(function(item) {
            var imageInput = item.querySelector(".poll-image");
            var textInput = item.querySelector(".poll-text");
            var voteId = item.querySelector(".poll-voteId");
            if(voteId == null){
                voteId = -1;
                formData.append('voteId', voteId);
            }else{
                formData.append('voteId', voteId.value);
            }
            if (imageInput.files[0]) {
                formData.append('images', imageInput.files[0]);
            }
            formData.append('texts', textInput.value);
        });

        formData.append('boardId', boardId);

        $.ajax({
            type: 'POST',
            url: '/board/updateVoteItems',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                window.location.href = '/board/detail/' + boardId;
            },
            error: function(xhr, status, error) {
                console.error("투표 항목 업데이트 중 오류가 발생했습니다.");
            }
        });
    }

    document.getElementById("updateContentsButton").addEventListener("click", function() {
        sendBoardAndVotes();
    });

    $('#deleteButton').on('click', function() {
        var boardId = $('input[name="boardId"]').val();
        if(confirm("게시글을 삭제하시겠습니까?")) {
            $.ajax({
                type: 'DELETE',
                url: '/board/delete/' + boardId,
                success: function(response) {
                    alert('게시글이 삭제되었습니다.');
                    window.location.href = '/home.do';
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                    alert('게시글 삭제에 실패했습니다.');
                }
            });
        }
    });

    // 페이지 로드 시 기존 데이터로 폼을 채우기
    window.onload = function() {
        if (document.getElementById("voteFlag").checked) {
            document.getElementById("voteForm").style.display = "block";
        }
    };
</script>
</body>
</html>
